.header {
    .logo-header {
        background-color: #000000;

        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .flex-item {
            margin: 0 15px;
            a {
                font-size: 20px;
                font-weight: 300;
                text-decoration: none;
                color: #fff;
                transition: all 0.3s;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    bottom: -5px;
                    left: 0;
                    background-color: yellow;
                    transform: scaleX(0);
                    transition: transform 0.3s;
                }
                &:hover {
                    &::before {
                        transform: scaleX(1);
                    }
                    color: yellow;
                }
            }
        }
        .logo {
            .logo-link {
                img {
                }
            }
        }
        .nav-bar-search {
            display: flex;
            .search {
            }
            .carts {
            }
            .login {
            }
            .register {
            }
        }
    }
    .menu {
        min-height: 75px;
        background-color: rgb(226, 226, 226);
        .nav-menu {
            a {
                text-decoration: none;
                color: #000;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    bottom: -5px;
                    left: 0;
                    background-color: red;
                    transform: scaleX(0);
                    transition: transform 0.3s;
                }
                &:hover {
                    &::before {
                        transform: scaleX(1);
                    }
                    color: red;
                }
            }
        }
    }
}
